<div class="container">

    <div class="col-md-12">

        <div class="title">
            <p>
                ZIP IT (in progress)
            </p>
        </div>

        <div class="instructions">
            <p>
                ENTER ANY NUMBER OF YOUR ZIP CODE:
            </p>

        </div>

        <div class="inputs" class="form-group" >
            <input ng-change="detectChangeDigit1()" type="number" maxlength="1" min="0" max="9" ng-model="zipCode.firstDigit" class="form-control">
            <input ng-change="detectChangeDigit2()" type="number" maxlength="1" min="0" max="9" ng-model="zipCode.secondDigit" class="form-control">
            <input ng-change="detectChangeDigit3()" type="number" maxlength="1" min="0" max="9" ng-model="zipCode.thirdDigit" class="form-control">
            <input ng-change="detectChangeDigit4()" type="number" maxlength="1" min="0" max="9" ng-model="zipCode.fourthDigit" class="form-control">
            <input ng-change="detectChangeDigit5()" type="number" maxlength="1" min="0" max="9" ng-model="zipCode.fifthDigit" class="form-control">
        </div>

        <div class="outputs">
            <label>{{ zipCode.firstDigit }}</label>
            <label>{{ zipCode.secondDigit }}</label>
            <label>{{ zipCode.thirdDigit }}</label>
            <label>{{ zipCode.fourthDigit }}</label>
            <label>{{ zipCode.fifthDigit }}</label>
        </div>

        <div class="guess">
            <ul>
                <li ng-repeat="zipCode in resultsArray | limitTo:1">Do you live in {{ zipCode.city + ", " + zipCode.state }}?</li>
            </ul>
        </div>

    </div>

</div>
