
































<!-- <h5><a ui-sref="students">add students</a></h5>
<h5><a ui-sref="signin">sign in & out</a></h5>
<h5><a ui-sref="status">who's here</a></h5>

<h4 ng-show="!students.length">There are no students</h4>

<h4 ng-show="students.length">Students who are not here:</h4>

<ul>
    <li ng-repeat="item in studentsSignedOut = (students | filter:{signedIn: false})">
        {{ item.name }}
  </li>
</ul>

<h4 ng-show="students.length">Students who are here:</h4>

<ul>
    <li ng-repeat="item in studentsSignedIn = (students | filter:{signedIn: true})">
        {{ item.name }}
  </li>
</ul> -->
