






















<!-- <h5><a ui-sref="students">add students</a></h5>
<h5><a ui-sref="signin">sign in & out</a></h5>
<h5><a ui-sref="status">who's here</a></h5>


<h4>Submit new student</h4>
<form ng-submit="StudentsFactory.addStudent()" class="form-inline" role="form">
    <div class="form-group">
        <input type="text" ng-model="StudentsFactory.studentName" class="form-control" placeholder="Enter a student name">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<div ng-show="students.length">
    <h4>List of Students:</h4>
    <ul>
        <li ng-repeat="item in students">
            {{ item.name }}
        </li>
    </ul>
</div> -->
