<!doctype html>
<html lang="en" ng-app="zipCodeApp">

    <head>

        <meta charset="UTF-8">
        <title>ZIP IT</title>

        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="lib/angular-ui-router.js"></script>

        <!-- Firebase -->
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

        <!-- Angular Infrastructure & CSS-->
        <script src="app.js"></script>
        <script src="lib/utility.js"></script>
        <script src="controllers/ZipCodesController.js"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">

    </head>

    <body ng-controller="ZipCodesCtrl">
        <div class="container">

            <div class="col-md-12">

                <div class="instructions">
                    <p>
                        ENTER ANY NUMBER OF YOUR ZIP CODE:
                    </p>

                </div>

                <div class="inputs" class="form-group" >
                    <input ng-change="detectChangeDigit1()" type="number" maxlength="1" min="0" max="9" ng-model="zipCode.firstDigit" class="form-control">
                    <input ng-change="detectChangeDigit2()" type="number" maxlength="1" min="0" max="9" ng-model="zipCode.secondDigit" class="form-control">
                    <input ng-change="detectChangeDigit3()" type="number" maxlength="1" min="0" max="9" ng-model="zipCode.thirdDigit" class="form-control">
                    <input ng-change="detectChangeDigit4()" type="number" maxlength="1" min="0" max="9" ng-model="zipCode.fourthDigit" class="form-control">
                    <input ng-change="detectChangeDigit5()" type="number" maxlength="1" min="0" max="9" ng-model="zipCode.fifthDigit" class="form-control">
                </div>

                <div class="outputs">
                    <label>{{ zipCode.firstDigit }}</label>
                    <label>{{ zipCode.secondDigit }}</label>
                    <label>{{ zipCode.thirdDigit }}</label>
                    <label>{{ zipCode.fourthDigit }}</label>
                    <label>{{ zipCode.fifthDigit }}</label>
                </div>

                <div class="guess">
                        <div ng-show="singleResult !== null">Do you live in {{ singleResult.city + ", " + singleResult.state }}?</div>
                </div>

            </div>

        </div>

    </body>

</html>
